.App {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

.Social {
  position: absolute;
  bottom: 0;
  width: 180px;
  margin: 50px calc(50% - 90px);
}

.Social-link {
  margin: 5px;
}

.Social-icon {
  opacity: .5;
  width: 25px;
  transition: opacity .1s;
  -webkit-transform: translateZ(0);
}

.Social-icon:hover {
  opacity: .75;
}